/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 1framework_and_overrides.css
 *= require_self
 *= require owl.carousel.css
 *= require blueimp-gallery
*= require bootstrap-image-gallery
*= require blueimp-gallery-indicator
*= require blueimp-gallery-video
 */
 body{
   margin-top: 50px;
 }

 main{
   margin-top: 0px;
 }

 .divide_nav{
   height: 50px;
   background-color: #510388;
 }

 .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

 .divide-text{
     color:#fff;
     line-height: 20px;
     font-size:15px;
     padding: 15px 0px;
 }

 .affix {
   top: 50px;
   width:100%;
 }

 .filler{
   min-height: 2000px;
 }

 .navbar-form {
    padding-left: 0;
 }

 .navbar-lower {
    margin-bottom: 0px;
 }

@media only screen and (min-width: 768px) {
  .navbar-collapse2.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
  }
}
