/ navigation styled for Bootstrap 3.0
div.divide_nav.text-center.container-fluid
  p.divide-text.vcenter Bestel je boeken via de  <a href="https://acco.be/vgk" target="blank" style="color: #B378DC;">ACCO webshop</a>
