/ navigation styled for Bootstrap 3.0
div.divide_nav.text-center.container-fluid
  p.divide-text.vcenter Schrijf je in voor ons <a href="https://event.fkgent.be/events/65" target="blank" style="color: #B378DC;">Eerste Bach Weekend</a>
