<html>
<style type="text/css">
    img.logo {
      display: inline-block;
      max-width: 180px;
      max-height: 100px;
      height: auto;
      width: auto;
      margin: 5px;
    }
</style>    
<h3 class="text-center">Sponsors</h3>
<div>
       	<img class="logo" src="/system/comfy/cms/files/files/000/000/024/original/De_Karper_3%281%29.png" alt="De Karper">
    	<img class="logo" src="/system/comfy/cms/files/files/000/000/026/original/361_resized_detail_800_0_0_1_1.jpg" alt="acco">
    	<img class="logo" src="/system/comfy/cms/files/files/000/000/029/original/LensOnline_die_mag_weg.png" alt="LensOnline">
    	<img class="logo" src="/system/comfy/cms/files/files/000/000/027/original/Logo_Topcopy.png" alt="topcopy">
    	<img class="logo" src="/system/comfy/cms/files/files/000/000/030/original/KBC_Logo.png" alt="KBC">
   		<img class="logo" src="/system/comfy/cms/files/files/000/000/031/original/Frituur_Skyline.bmp" alt="Skyline">
   		<img class="logo" src="/system/comfy/cms/files/files/000/000/025/original/pizza_hut.JPG" alt="PizzaHut">
   		<img class="logo" src="/system/comfy/cms/files/files/000/000/028/original/logoguido.png" alt="Guido">
</div>
<p class="text-center"> Copyright &copy 2015 Vlaamse Geneeskundige Kring</p>
</html>

