<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Over VGK <b class="caret"></b></a>
  <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'Onthaal', "http://vgk.be/onthaal"%></li>
	<li><%= link_to 'Praesidium', "http://vgk.be/praesidium"%></li>
  </ul>
</li>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
