li.active= link_to 'VGK', root_path
li= link_to 'BeMSA', "http://bemsa-gent.be"
li= link_to 'SWOP', "http://swop.vgk.be"
li= link_to 'Drive', "http://drive.vgk.be"
li= link_to 'Wiki', "http://wiki.vgk.be"
